@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
